
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - enter your name
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/enter-your-name/01" method="post" class="form">

        {% call govukFieldset({
          legend: {
            text: "What is your name?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Full name'
            },
            classes: "govuk-!-width-two-thirds",
            id: "owner-name",
            name: "owner-name",
            hint: {
              text: "We will use your name to find your pensions to display"
          }
          }) }} 

   
        {% endcall %}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Continue
          </button>
        </div>
      </form>

    </div>
  </div>

{% endblock %}