
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Your pensions
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your pensions
      </h1>
      {% if stateFlag %}
      <div class="pdp-pension-box-border">
        <div>
          <h2 class="govuk-heading-l">
            State Pension
          </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                Pension provider
              </dt>
              <dd class="govuk-summary-list__value">
                {{statePensionDetails.administratorName}}
              </dd>
            </div>
          </dl>        
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your pension reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{statePensionDetails.pensionReference}}
              </dd>
            </div>
          </dl>        
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date your pension is payable
              </dt>
              <dd class="govuk-summary-list__value">
                {{statePensionDetails.pensionRetirementDateString}}
              </dd>
            </div>
          </dl>
          <a class="pdp-details-link" href="04-pension-details?ptype=4&pensionId={{details._id}}&providerId={{details.administratorReference}}">
            more details
          </a>
        </div>
        <hr class="pdp-hr">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">
              Amount on {{statePensionDetails.accruedCalculationDateString}}
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{statePensionDetails.accruedAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half pdp-box-border-left">
            <h3 class="govuk-heading-m">
              Amount at retirement
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{statePensionDetails.ERIAnnualAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      {% endif %} <!-- State Pension -->
      </div>
      {% if workplaceFlag %}
      <h2 class="govuk-heading-l">
        Workplace pensions
      </h2>
      {% if workplaceDBFlag %}
      {% for details in workplaceDBPensionDetails %}
      <div class="pdp-pension-box-border" >
        <span class="govuk-caption-m">{{details.penTypeDescription}}</span>
        <h2 class="govuk-heading-l">
          {{details.pensionName}}
        </h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half pdp-box-border-right">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Pension provider
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.administratorName}}
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Pension scheme or plan name
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionName}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Your pension reference
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionReference}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Date your pension is payable
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionRetirementDateString}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employer
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.employerName}}
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employment start date
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.employmentStartDateString}}
                </dd>
              </div>
            </dl>  
            {% if details.employmentEndDateString %}      
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employment end date
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.details.employmentEndDateString}}
                </dd>
              </div>
            </dl>
            {% endif %}
          </div>  
        </div>
        <hr class="pdp-hr">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">
              Amount on {{details.accruedCalculationDateString}}
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.accruedAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half pdp-box-border-left">
            <h3 class="govuk-heading-m">
              Amount at retirement
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.ERIAnnualAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <p></p>
      {% endfor%}
      {% endif %} <!-- workplaceDBpensions -->
      {% if workplaceDCFlag %}
      {% for details in workplaceDCPensionDetails %}
      <div class="pdp-pension-box-border" >
        <span class="govuk-caption-m">{{details.penTypeDescription}}</span>
        <h2 class="govuk-heading-l">
          {{details.pensionName}}
        </h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half pdp-box-border-right">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Pension provider
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.administratorName}}
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Pension scheme or plan name
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionName}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Your pension reference
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionReference}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Date your pension is payable
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.pensionRetirementDateString}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employer
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.employerName}}
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employment start date
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.employmentStartDateString}}
                </dd>
              </div>
            </dl>  
            {% if details.employmentEndDateString %}      
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Employment end date
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.details.employmentEndDateString}}
                </dd>
              </div>
            </dl>
            {% endif %}
          </div>  
        </div>
        <hr class="pdp-hr">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">
              Amount on {{details.accruedCalculationDateString}}
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Invested amount (pot)
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.accruedAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half pdp-box-border-left">
            <h3 class="govuk-heading-m">
              Amount at retirement
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Invested amount (pot)
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.ERIPotSterling}}
                </dd>
              </div>
            </dl>            
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.ERIAnnualAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <p></p>
      {% endfor %}
      {% endif %}    
      {% endif %}    

      {% if privateFlag %}
      <h2 class="govuk-heading-l">
        Private pensions
      </h2>
      {% for details in privateDCPensionDetails %}
      <div class="pdp-pension-box-border" >
        <span class="govuk-caption-m">{{details.penTypeDescription}}</span>
        <h2 class="govuk-heading-l">
          {{details.pensionName}}
        </h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                  Pension provider
                </dt>
                <dd class="govuk-summary-list__value">
                  {{details.administratorName}}
                </dd>
              </div>
            </dl>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                  Pension scheme or plan name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{details.pensionName}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Your pension reference
                </dt>
                <dd class="govuk-summary-list__value">
                  {{details.pensionReference}}
                </dd>
              </div>
            </dl>        
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date your pension is payable
                </dt>
                <dd class="govuk-summary-list__value">
                  {{details.pensionRetirementDateString}}
                </dd>
              </div>
            </dl>
        <hr class="pdp-hr">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m">
              Amount on {{details.accruedCalculationDateString}}
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.accruedAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>          
          <div class="govuk-grid-column-one-half pdp-box-border-left">
            <h3 class="govuk-heading-m">
              Amount at retirement
            </h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Invested amount (pot)
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.ERIPotSterling}}
                </dd>
              </div>
            </dl>            
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key pdp-width-50">
                  Income each year
                </dt>
                <dd class="govuk-summary-list__value pdp-width-50">
                  {{details.ERIAnnualAmountSterling}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <p></p>
      {% endfor %}
      {% endif %} <!-- Private pension -->
    </div>
  </div>
{% endblock %}
