
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Your pension providers
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your pensions
      </h1>
      {% if stateFlag %}
        <div id="state-pension" >    
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">State pension</caption>            
            <thead class="govuk-table__head govuk-body-s">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-30 pdp-align-bottom">Pension provider</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Your pension reference</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-right">Income each year in today's money</th>
                <th scope="col" class="govuk-table__header -no-top"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body govuk-body-xs">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell pdp-word-break">{{statePensionDetails.administratorName}}</td>
                <td class="govuk-table__cell pdp-word-break">{{statePensionDetails.pensionReference}}</td>
                <td class="govuk-table__cell">{{statePensionDetails.pensionRetirementDateString}}</td>
                <td class="govuk-table__cell pdp-align-right">{{statePensionDetails.accruedAmountSterling}}</td>
                <td class="govuk-table__cell pdp-align-center"><a href="03-pension-details?pensionId={{statePensionDetails._id}}&providerId={{statePensionDetails.administratorReference}}">more details</a></td>
             </tr>
            </tbody>
          </table>
        {% endif %} <!-- State pension -->
      </div>
      <div id="workplace-pension">    
        {% if workplaceFlag %}
          <h2 class="govuk-heading-l">
            Workplace pensions
          </h2>
          {% if workplaceDBFlag %}
            <div id="workplace-pension-DB">    
             <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Defined benefit pensions</caption>
            <thead class="govuk-table__head govuk-body-s">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-30 pdp-align-bottom">Pension provider</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Your pension reference</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-right">Income each year in today's money</th>
                <th scope="col" class="govuk-table__header -no-top"></th>
              </tr>
            </thead>
                {% for details in workplaceDBPensionDetails %}
                  <tbody class="govuk-table__body govuk-body-xs">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell pdp-word-break">{{details.administratorName}}</td>
                      <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                      <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                      <td class="govuk-table__cell pdp-align-right">{{details.accruedAmountSterling}}</td>
                      <td class="govuk-table__cell pdp-align-center"><a href="03-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                    </tr>
                  </tbody>
                {% endfor %} <!-- Workplace loop -->
              </table>
            </div>
          {% endif %} <!-- Workplace DB pension -->
          {% if workplaceDCFlag %}
            <div id="workplace-pension-DC">    
             <table class="govuk-table pdp-word-break">
              <caption class="govuk-table__caption govuk-table__caption--m">Defined contribution pensions</caption>
              <thead class="govuk-table__head govuk-body-s">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-30 pdp-align-bottom">Pension provider</th>
                  <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Your pension reference</th>
                  <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-right">Income each year in today's money</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
                  {% for details in workplaceDCPensionDetails %}
                    <tbody class="govuk-table__body govuk-body-xs">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell pdp-word-break">{{details.administratorName}}</td>
                        <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                        <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                        <td class="govuk-table__cell pdp-align-right">{{details.accruedAmountSterling}}</td>
                        <td class="govuk-table__cell pdp-align-center"><a href="03-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                      </tr>
                    </tbody>
                  {% endfor %} <!-- Workplace loop -->
                </table>
              </div>          
            {% endif %} <!-- Workplace DC pension -->
        {% endif %} <!-- Workplace pension -->

      </div>
      <div id="private-pension">    
        {% if privateFlag %}

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--l">Private pensions</caption>
            <thead class="govuk-table__head govuk-body-s">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-30 pdp-align-bottom">Pension provider</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Your pension reference</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-rightr">Income each year in today's money</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            {% for details in privatePensionDetails %}
              <tbody class="govuk-table__body govuk-body-xs">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell pdp-word-break">{{details.administratorName}}</td>
                  <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                  <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                  <td class="govuk-table__cell pdp-align-right">{{details.accruedAmountSterling}}</td>
                  <td class="govuk-table__cell pdp-align-center"><a href="03-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                </tr>
              </tbody>
            {% endfor %} <!-- Workplace loop -->
          </table>
         {% endif %} <!-- Private pension -->
      </div>
    </div>
  </div>
{% endblock %}
