
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Your pension providers
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your pensions
      </h1>
      {% if stateFlag %}
        <div id="state-pension" >    
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">State Pension</caption>
            <colgroup>
              <col span="3">
              <col span="1" class="pdp-table-shaded-1">
              <col span="1" class="pdp-table-shaded-2">
              <col span="1">
            </colgroup>            
            <thead class="govuk-table__head govuk-body-s">
              <tr class="govuk-table__row">
                <th scope="colgroup" class="govuk-table__header govuk-body-l pdp-align-bottom" colspan="3"></th>
                <th scope="col" class="govuk-table__header pdp-align-center pdp-box-border">Value today</th>
                <th scope="col" class="govuk-table__header pdp-align-center pdp-box-border">Value at retirement</th>
                <th scope="col" class="govuk-table__header pdp-box-border-no-bottom"></th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom pdp-box-border-left">Pension provider</th>
                <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom">Your pension reference</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-table-header pdp-box-border">Income each year</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-table-header pdp-box-border">Estimated income each year</th>
                <th scope="col" class="govuk-table__header pdp-box-border-no-top"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body govuk-body-xs">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell pdp-word-break pdp-box-border-left">{{statePensionDetails.administratorName}}</td>
                <td class="govuk-table__cell pdp-word-break">{{statePensionDetails.pensionReference}}</td>
                <td class="govuk-table__cell">{{statePensionDetails.pensionRetirementDateString}}</td>
                <td class="govuk-table__cell pdp-align-right pdp-box-border">{{statePensionDetails.accruedAmountSterling}}</td>
                <td class="govuk-table__cell pdp-align-right pdp-box-border">{{statePensionDetails.ERIAnnualAmountSterling}}</td>
                <td class="govuk-table__cell pdp-align-center pdp-box-border"><a href="04-pension-details?pensionId={{statePensionDetails._id}}&providerId={{statePensionDetails.administratorReference}}">more details</a></td>
             </tr>
            </tbody>
          </table>
        {% endif %} <!-- State Pension -->
      </div>
      <div id="workplace-pension">    
        {% if workplaceFlag %}
          <h2 class="govuk-heading-l">
            Workplace pensions
          </h2>
          {% if workplaceDBFlag %}
            <div id="workplace-pension-DB">    
             <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Defined benefit pensions</caption>

                <colgroup>
                  <col span="3">
                  <col span="1" class="pdp-table-shaded-1">
                  <col span="1" class="pdp-table-shaded-2">
                </colgroup>                
                <thead class="govuk-table__head govuk-body-s">
                <tr class="govuk-table__row">

                  <th scope="colgroup" class="govuk-table__header govuk-body-l" colspan="3"></th>
                  <th scope="col" class="govuk-table__header pdp-table-header pdp-box-border">Value today</th>
                  <th scope="colgroup" class="govuk-table__header pdp-table-header pdp-box-border-top">Value at retirement</th>
                  <th scope="col" class="govuk-table__header pdp-box-border-no-bottom"></th>
                </tr>
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom pdp-box-border-left">Pension provider</th>
                <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom">Your pension reference</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-table-header pdp-box-border">Income each year</th>
                <th scope="col" class="govuk-table__header pdp-width-20 pdp-table-header pdp-box-border">Estimated income each year</th>
                <th scope="col" class="govuk-table__header pdp-box-border-no-top"></th>
              </tr>
             </thead>
                {% for details in workplaceDBPensionDetails %}
                  <tbody class="govuk-table__body govuk-body-xs">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell pdp-box-border-left pdp-word-break">{{details.administratorName}}</td>
                      <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                      <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                      <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.accruedAmountSterling}}</td>
                      <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.ERIAnnualAmountSterling}}</td>
                      <td class="govuk-table__cell pdp-box-border pdp-align-center"><a href="04-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                    </tr>
                  </tbody>
                {% endfor %} <!-- Workplace loop -->
              </table>
            </div>
          {% endif %} <!-- Workplace DB pension -->
          {% if workplaceDCFlag %}
            <div id="workplace-pension-DC">    
             <table class="govuk-table pdp-word-break">
              <caption class="govuk-table__caption govuk-table__caption--m">Defined contribution pensions</caption>
                <colgroup>
                  <col span="3">
                  <col span="1" class="pdp-table-shaded-1">
                  <col span="2" class="pdp-table-shaded-2">
                </colgroup>
                <thead class="govuk-table__head govuk-body-s">                
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-body-l" colspan="3"></th>
                    <th scope="col" class="govuk-table__header pdp-align-center pdp-box-border">Value today</th>
                    <th scope="col" class="govuk-table__header pdp-align-center pdp-box-border" colspan="2">Value at retirement</th>
                    <th scope="col" class="govuk-table__header pdp-box-border-no-bottom"></th>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-box-border-left pdp-align-bottom">Pension provider</th>
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom">Your pension reference</th>
                    <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                    <th scope="col" class="govuk-table__header pdp-width-12-5 pdp-table-header pdp-box-border">Income each year</th>
                    <th scope="col" class="govuk-table__header pdp-width-12-5 pdp-table-header pdp-box-border">Estimated income each year</th>
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-table-header pdp-box-border">Estimated pot value</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                  {% for details in workplaceDCPensionDetails %}
                    <tbody class="govuk-table__body govuk-body-xs">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell pdp-box-border-left pdp-word-break">{{details.administratorName}}</td>
                        <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                        <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.accruedAmountSterling}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.ERIAnnualAmountSterling}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.ERIPotSterling}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-center"><a href="04-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                      </tr>
                    </tbody>
                  {% endfor %} <!-- Workplace loop -->
                </table>
              </div>          
            {% endif %} <!-- Workplace DC pension -->
        {% endif %} <!-- Workplace pension -->

      </div>
      <div id="private-pension">    
        {% if privateFlag %}

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--l">Private pensions</caption>
              <colgroup>
                <col span="3">
                <col span="1" class="pdp-table-shaded-1">
                <col span="2" class="pdp-table-shaded-2">
              </colgroup>                
              <thead class="govuk-table__head govuk-body-s">
                  <tr class="govuk-table__row">

                    <th scope="col" class="govuk-table__header govuk-body-l pdp-align-bottom" colspan="3"></th>
                    <th scope="col" class="govuk-table__header pdp-table-header pdp-box-border">Value today</th>
                    <th scope="col" class="govuk-table__header pdp-table-header pdp-box-border" colspan="2">Value at retirement</th>
                    <th scope="col" class="govuk-table__header pdp-box-border-no-bottom "></th>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-box-border-left pdp-align-bottom">Pension provider</th>
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-align-bottom">Your pension reference</th>
                    <th scope="col" class="govuk-table__header pdp-width-20 pdp-align-bottom">Date your pension is payable</th>
                    <th scope="col" class="govuk-table__header pdp-width-12-5 pdp-table-header pdp-box-border">Income each year</th>
                    <th scope="col" class="govuk-table__header pdp-width-12-5 pdp-table-header pdp-box-border">Estimated income each year</th>
                    <th scope="col" class="govuk-table__header pdp-width-15 pdp-table-header pdp-box-border">Estimated pot value</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                  {% for details in privatePensionDetails %}
                    <tbody class="govuk-table__body govuk-body-xs">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell pdp-box-border-left pdp-word-break">{{details.administratorName}}</td>
                        <td class="govuk-table__cell pdp-word-break">{{details.pensionReference}}</td>
                        <td class="govuk-table__cell">{{details.pensionRetirementDateString}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.accruedAmountSterling}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.ERIAnnualAmountSterling}}</td>
                        <td class="govuk-table__cell pdp-box-border pdp-align-right">{{details.ERIPotSterling}}</td>
                        <td class="govuk-table__cell pdp-align-center pdp-box-border"><a href="04-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">more details</a></td>       
                      </tr>
                    </tbody>
                  {% endfor %} <!-- Workplace loop -->
                </table>
           {% endif %} <!-- Private pension -->
      </div>
    </div>
  </div>
{% endblock %}
