
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Your pension providers
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your pensions
      </h1>
      {% if stateFlag %}
      <h2 class="govuk-heading-l">
        State pension
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider</th>
            <th scope="col" class="govuk-table__header">Pension reference</th>
<!--            <th scope="col" class="govuk-table__header"></th>
-->
          </tr>
        </thead>
        <tbody class="govuk-table__body govuk-body-xs">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{statePensionDetails.administratorName}}</td>
            <td class="govuk-table__cell">{{statePensionDetails.pensionReference}}</td>
<!--            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="01-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">More information</a></td>
-->
         </tr>
        </tbody>
      </table>
      {% endif %}
      {% if workplaceFlag %}
      <h2 class="govuk-heading-l">
        Workplace pensions
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Pension provider</th>
            <th scope="col" class="govuk-table__header">Another useful item from the PeI</th>
<!--            <th scope="col" class="govuk-table__header">Employer</th>
            <th scope="col" class="govuk-table__header"></th>
-->          </tr>
        </thead>
      {% for details in workplacePensionDetails %}
        <tbody class="govuk-table__body govuk-body-xs">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{details.administratorName}}</td>
            <td class="govuk-table__cell">item</td>
<!--            <td class="govuk-table__cell">{{details.pensionName}}</td>
            <td class="govuk-table__cell">{{details.pensionEmployer}}</td>
            <td class="govuk-table__cell"><a href="01-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">More information</a></td>
-->         
          </tr>
        </tbody>
      {% endfor %}
      </table>
      {% endif %}

      {% if privateFlag %}
      <h2 class="govuk-heading-l">
        Private pensions
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Pension provider</th>
            <th scope="col" class="govuk-table__header">Another useful item from the PeI</th>
          </tr>
        </thead>
      {% for details in privatePensionDetails %}
        <tbody class="govuk-table__body govuk-body-xs">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{details.administratorName}}</td>
            <td class="govuk-table__cell">item</td>
<!--            <td class="govuk-table__cell"><a href="01-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">More information</a></td>
-->
         </tr>
        </tbody>
      {% endfor %}
      </table>
      {% endif %}
      {% if allFlag %}
      <h2 class="govuk-heading-l">
        Your pensions
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider</th>
            <th scope="col" class="govuk-table__header">Pension name</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
      {% for details in pensionDetails %}
        <tbody class="govuk-table__body govuk-body-xs">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{details.administratorName}}</td>
            <td class="govuk-table__cell">{{details.pensionName}}</td>
            <td class="govuk-table__cell"><a href="01-pension-details?pensionId={{details._id}}&providerId={{details.administratorReference}}">More information</a></td>
         </tr>
        </tbody>
      {% endfor %}
      </table>
      {% endif %}


    </div>
  </div>

{% endblock %}
