
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pensions dashboard - sign in
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Pension List
      </h1>
        <p class="pension-crud-message">
          {{pensionUpdatedMessage}}
        </p>        
        <p class="pension-crud-message">
          {{pensionDeletedMessage}}
        </p>

      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Pension owner</th>
            <th scope="col" class="govuk-table__header">Pension name</th>
            <th scope="col" class="govuk-table__header">Provider</th>
            <th scope="col" class="govuk-table__header">Value</th>
            <th scope="col" class="govuk-table__header">ERI</th>
            <th scope="col" class="govuk-table__header">Date ERI calculated</th>
            <th scope="col" class="govuk-table__header">Date payable</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
      {% for details in pensionDetails %}
        <tbody class="govuk-table__body govuk-body-xs">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{details.pensionOwner}}</td>
            <td class="govuk-table__cell">{{details.pensionName}}</td>
            <td class="govuk-table__cell">{{details.administratorName}}</td>
            <td class="govuk-table__cell">{{details.ERIPot}}</td>
            <td class="govuk-table__cell">{{details.ERIAnnualAmount}}</td>
            <td class="govuk-table__cell">{{details.ERICalculationDate}}</td>
            <td class="govuk-table__cell">{{details.ERIPayableDate}}</td>
            <td class="govuk-table__cell" ><a href="update-pension?id={{details._id}}" class="govuk-link">Edit</button></a></td>
            <form action="/delete-pension/{{details._id}}" method="post" class="form">
              <td class="govuk-table__cell" onclick="deleteRow()"><button class="govuk-button govuk-button--warning" data-module="govuk-button">Delete</button></td>
            </form>
          </tr>


        </tbody>
      {% endfor %}
      </table>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        Other pages:
      </h2>
      <p>
        <a class="govuk-link" href="add-pensions">Add a pension</a>
      </p>
      <p>
        <a href="add-providers">Add a new provider</a>
      </p>
    </div>
  </div>

{% endblock %}
