
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  View my pensions - manage pensions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/add-provider-details" method="post" class="form">

administratorName

administratorContactPreference

administratorURL

administratorEmail

administratorPhoneNumber

administratorPhoneNumberType

admisistratorPostalName

administratorAddressLine1

administratorAddressLine2

administratorAddressLine3

administratorAddressLine4

administratorAddressLine5

administratorPostcode

administratorAnnualReportURL

administratorCostChargesURL

administratorImplementationURL

administratorSIPPURL

        {% call govukFieldset({
          legend: {
            text: "Add pension provider details",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Administrator name'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-name",
            name: "administrator-name"
          }) }} 

          {{ govukInput({
            label: {
              html: 'Contact preference'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-contact-preference",
            name: "administrator-contact-preference"
          }) }}

          {{ govukInput({
            label: {
              html: 'Administrator website'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-url",
            name: "administrator-url"
          }) }}

          {{ govukInput({
            label: {
              html: 'Administrator email address'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-email",
            name: "administrator-email"
          }) }}

administratorPhoneNumber
administratorPostalName

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            autocomplete: "address-level2"
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode",
            autocomplete: "postal-code"
          }) }}

   
        {% endcall %}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Save pension details
          </button>

          <a class="govuk-link" href="display-pensions">List pensions</a>
        </div>
    </form>
<!--
    <form action="/update-pension" method="post" class="form">
-->  
<!--   
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Your pension summary</caption>
        <thead class="govuk-table__head govuk-body-s">
          <tr class="govuk-table__row">
            <th colspan="2" scope="col" class="govuk-table__header"></th>
            <th colspan="4" scope="col" class="govuk-table__header pdp-shaded-header">Estimated retirement income</th>
            <th colspan="2" scope="col" class="govuk-table__header"></th>
          </tr>

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Pension name</th>
            <th scope="col" class="govuk-table__header">Pension provider</th>
            <th scope="col" class="govuk-table__header">Pension value</th>
            <th scope="col" class="govuk-table__header">Estimated income a year</th>
            <th scope="col" class="govuk-table__header">Date estimated amount calculated</th>
            <th scope="col" class="govuk-table__header">Date payable</th>
            <th scope="col" class="govuk-table__header">Delete</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        {% for details in pensionDetails %}
          <tbody class="govuk-table__body govuk-body-s">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{details.pensionName}}</td>
              <td class="govuk-table__cell">{{details.administratorName}}</td>
              <td class="govuk-table__cell">{{details.ERIPot}}</td>
              <td class="govuk-table__cell">{{details.ERIAnnualAmount}}</td>
              <td class="govuk-table__cell">{{details.ERICalculationDate}}</td>
              <td class="govuk-table__cell">{{details.ERIPayableDate}}</td>
              <td class="govuk-table__cell" onclick="deleteRow(this)"> <button class="govuk-button govuk-button--warning" data-module="govuk-button">Delete</button></td>
            </tr>

          </tbody>
        {% endfor %}
        </table>
      -->
<!--           <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Save all changes
        </button>
   </form> 
      <form action="/delete-pension" method="post" class="form">

        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete all records
        </button>

      </form>
      -->
    </div>
  </div>

{% endblock %}

document.getElementById("myP").contentEditable = "true"; 
