
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {serviceName}} - add provider
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/add-provider-details" method="post" class="form">
        <span class="govuk-caption-xl pdp-caption ">Admin page</span>

        {% call govukFieldset({
          legend: {
            text: "Add pension provider",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Provider name'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-name",
            name: "administrator-name"
          }) }} 

   
        {% endcall %}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Save pension provider
          </button>
        </div>
        <div>
      </form>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m" id="subsection-title">
        Prototypes
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/01-find/01-start">Find pensions</a>
          </li>
          <li>
            <a href="/02-find-accrued/02-start">Find and accrued pensions</a>
          </li>            
          <li>
            <a href="/03-find-accrued-estimated-pensions/03-start">Find, accrued and estimated pensions</a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m" id="subsection-title">
        Manage data
      </h2>
      <h3 class="govuk-heading-s" id="subsection-title">
        Providers
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="add-provider">Add a pension provider</a>
          </li>
          <li>
            <a href="display-providers">Pension providers list</a>
          </li>
        </ul>
      </nav>
      <h3 class="govuk-heading-s" id="subsection-title">
        Pensions
      </h3>
      <nav>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="add-pension">Add a pension</a> 
          </li>
          <li>
            <a href="display-pensions">Pensions list</a>
          </li>
        </ul>
      </nav>
    </div>

    </div>
  </div>

{% endblock %}