
{% extends "layout_unbranded_admin.html" %}

{% block pageTitle %}
  {serviceName}} - add provider
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/add-provider-details" method="post" class="form">
        <span class="govuk-caption-xl pdp-caption ">Admin page</span>

        {% call govukFieldset({
          legend: {
            text: "Add pension provider",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Provider name'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-name",
            name: "administrator-name"
          }) }} 

   
        {% endcall %}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Save pension provider
          </button>
        </div>
        <div>
      </form>

    </div>
  </div>

{% endblock %}