
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {serviceName}} - add provider
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/add-provider-details" method="post" class="form">

        {% call govukFieldset({
          legend: {
            text: "Add pension provider",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Administrator name'
            },
            classes: "govuk-!-width-two-thirds",
            id: "administrator-name",
            name: "administrator-name"
          }) }} 

   
        {% endcall %}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Save pension provider
          </button>
        </div>
        <div>

          <h2 class="govuk-heading-m">
            Existing pension providers
          </h2>

          <tbody class="govuk-table__body govuk-body-xs">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{details.administratorName}}</td>

              <td class="govuk-table__cell" ><a href="update-pension?id={{details._id}}" class="govuk-link">Edit</button></a></td>
              <form action="/delete-pension/{{details._id}}" method="post" class="form">
                <td class="govuk-table__cell" onclick="deleteRow()"><button class="govuk-button govuk-button--warning" data-module="govuk-button">Delete</button></td>
              </form>
            </tr>


        </tbody>
          {% for details in providerDetails %}
          <p>
            {{details.administratorName}}
          </p>
          {% endfor %}

        </div>
    </form>

    </div>
  </div>

{% endblock %}