
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pensions dashboard - sign in
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find your pensions - Prototype
      </h1>
      <p>
        This is the prototype for the pensions dashboard. It will be used to test user journeys and pension displays. The findings will feed into the dashboard design standards for sahboard providers to use when developing their software.
      </p>

      <h2 class="govuk-heading-m">Page</h2>

      <p>
        <a href="manage-pensions">Manage pensions details to display on the dashboard</a>
      </p>      

      <p>
        <a href="display-pensions">Display pensions details - dashboard</a>
      </p>

    </div>
  </div>

{% endblock %}
