
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pensions dashboard - Pension providers
{% endblock %}

{% block content %}
<!
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Pension providers
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider name</th>
            <th scope="col" class="govuk-table__header">Contact reference</th>
            <th scope="col" class="govuk-table__header">Website</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Phone</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
      {% for details in pensionDetails %}
        <tbody class="govuk-table__body govuk-body-s">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{details.administratorName}}</td>
            <td class="govuk-table__cell">{{details.administratorContactPreference}}</td>
            <td class="govuk-table__cell">{{details.administratorURL}}</td>
            <td class="govuk-table__cell">{{details.administratorEmail}}</td>
            <td class="govuk-table__cell">{{details.administratorPhoneNumeber}}</td>
            <td class="govuk-table__cell">{{details.administratorAddress}}</td>
            <td class="govuk-table__cell"><a href="pension{{details.PensionNo}}">Pension details</a></td>
          </tr>


        </tbody>
      {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
