
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - manage pensions
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Manage pension information
      </h1>

      <form action="/manage-pensions" method="post" novalidate>


      {{ govukRadios({
        idPrefix: "what-do-you-want-to-manage",
        name: "what-do-you-want-to-manage",
        fieldset: {
          legend: {
            text: "What pension information do you want to manage?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "add-pension",
            text: "Add a new pension entry"
          },
          {
            value: "display-pensions",
            text: "View a list of all pensions",
            hint : {
              text : "To edit or delete existing pension entries "
            }      
          },          
          {
            value: "add-provider",
            text: "Add a new pension provider"
          },
          {
            value: "display-providers",
            text: "View a list of all pension providers",
            hint : {
              text : "To edit or delete existing pension providers "
            }       
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


      <p>
        If the provider doesn't exist in the prototype database you will need to <a href="add-provider">add the pension provider</a> before you can <a href="add-pension">add a pension that they manage</a>.
      </p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Prototypes
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="01-find-pensions">Find pensions</a>
            </li>
            <li>
              <a href="02-find-accrued-pensions">Find and accrued pensions</a>
            </li>            
            <li>
              <a href="03-find-accrued-estimated-pensions">Find, accrued and estimated pensions</a>
            </li>
          </ul>
        </nav>
        <h2 class="govuk-heading-m" id="subsection-title">
          Manage data
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="add-provider">Add a pension provider</a>
            </li>
            <li>
              <a href="display-providers">Pension providers list</a>
            </li>
            <li>
              <a href="add-pension">Add pension details</a> 
            </li>
            <li>
              <a href="display-pensions">Pensions list</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
