
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - select the protoype to use
{% endblock %}

{% block content %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">     
      <form action="/select-prototype" method="post" novalidate>
        <span class="govuk-caption-xl pdp-caption ">Admin page</span>


      {{ govukRadios({
        idPrefix: "select-prototype",
        name: "select-prototype",
        fieldset: {
          legend: {
            text: "Which prototype do you want to use?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "prototype-find-only",
            text: "Find pension provider only"
          },
          {
            value: "prototype-find-view",
            text: "Find and view pension and provider information"
          },
          {
            value: "prototype-find-accrued",
            text: "Find pension information and current values"
          },
          {
            value: "prototype-find-accrued-estimated",
            text: "Find pension information, current and projected values"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m" id="subsection-title">
        Prototypes
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="02-find-view-pensions">Find pensions</a>
          </li>
          <li>
            <a href="03-find-accrued-pensions">Find and accrued pensions</a>
          </li>            
          <li>
            <a href="04-find-accrued-estimated-pensions">Find, accrued and estimated pensions</a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m" id="subsection-title">
        Manage data
      </h2>
      <h3 class="govuk-heading-s" id="subsection-title">
        Providers
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="add-provider">Add a pension provider</a>
          </li>
          <li>
            <a href="display-providers">Pension providers list</a>
          </li>
        </ul>
      </nav>
      <h3 class="govuk-heading-s" id="subsection-title">
        Pensions
      </h3>
      <nav>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="add-pension">Add a pension</a> 
          </li>
          <li>
            <a href="display-pensions">Pensions list</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}
