
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - select the protoype to use
{% endblock %}

{% block content %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">     
      <form action="/select-prototype" method="post" novalidate>
        <span class="govuk-caption-xl pdp-caption ">Admin page</span>


      {{ govukRadios({
        idPrefix: "select-prototype",
        name: "select-prototype",
        fieldset: {
          legend: {
            text: "Which prototype do you want to use?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "prototype-find-only",
            text: "Find pension provider only"
          },
          {
            value: "prototype-find-view",
            text: "Find and view pension and provider information"
          },
          {
            value: "prototype-find-accrued",
            text: "Find pension information and current values"
          },
          {
            value: "prototype-find-accrued-estimated",
            text: "Find pension information, current and projected values"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% include "sidebar-nav.html" %}
    </div>
  </div>

{% endblock %}
